@tailwind base;

.table-of-contents ul::before {
  content: '▼目次';
  font-weight: bold;
  font-size: 16px;
}

@tailwind components;

@tailwind utilities;

/* original utilities */
@import './posts/detail.css';
@import './contact/form.css';
